<div class="job-info">
	<div>
		{{#if job_object.company_logo}}
			<img src={{job_object.company_logo}} /> 
		{{/if}}
			<div>
				<div class="job-title"> {{job_object.title}} </div>
				<div> 
					<div> {{job_object.company}} </div>
					<img src="location-icon.jpg" /> 
					<div> {{job_object.location}} </div>
				</div>
				<div> {{job_object.type}} </div>
			</div>
	</div>	
	<div>
		<div> {{{job_object.description}}} </div>
		<div> <p class="bold-text">How to apply:</p> {{{job_object.how_to_apply}}} </div>
	</div>
</div>


